[submodule "vw_carnet_extended_parameters"]
	path = vw_carnet_extended_parameters
	url = https://github.com/robinostlund/volkswagen-carnet
[submodule "vw_carnet_home_assistant"]
	path = vw_carnet_home_assistant
	url = https://github.com/robinostlund/homeassistant-volkswagen-carnet
